@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0 2rem 0.5rem;
  font-weight: normal;
}

a,
.green {
  background: linear-gradient(to right, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}
