:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(247, 222, 30, 0.85);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
}

html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #2222;
}
  

*,
*:before,
*:after {
  box-sizing: inherit;
}

nav {
    text-align: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--second-color);
    color: white;
    text-decoration: solid;
    font-weight: bolder;
    font-style: oblique;
}


.section {
    padding: 1rem;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    text-align: center;
}


.stage {
    display: flex;
    min-height: 50vh;
    border: 1rem solid #222;
    background-image: url("../public/images/area.jpg");
}


.ball, .ball2 {
    margin: auto;
    width: 6rem;
    height: 4.5rem;
    border-radius: 50%;
    border: 0.1rem solid gold;
    box-sizing: border-box; /* Asegura que el ancho y la altura incluyan el borde y el padding */
}


.profile-with-health-bar {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1.1rem;
}

.characters-info {
    display: flex;
    justify-content: space-between;
}

.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#enemy-health-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para el elemento progress con id "characterHealth" */
#characterHealth {
    /* Cambia el color de fondo */
    color: #4CAF50;
    background-color: #f3f3f3;
}

/* Estilos para el elemento progress con id "enemyHealth" */
#enemyHealth {
    /* Cambia el color de fondo */
    color: red;
    background-color: #f3f3f3;
}

.atacked {
    animation: shake 0.5s;
}

progress{
    width: 20rem;
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-5px, 0); }
    100% { transform: translate(0, 0); }
}